<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kaogaii</title>
</head>
<body>
<h2>※当サービスに関わる要望等については、twitterのDM等では<u>一切お答えしません</u>※</h2>
<p><b>Q、サイトのデザインがださすぎるんですが</b></p>
<p>A、プルリクしてもええぞ。CSS？　とかよくわからないんですけど。</p>
<p><b>Q、追加機能が欲しい</b></p>
<p>A、プルリクしてもええぞ。ハードルが高ければイシューを立ててもええぞ。</p>  
<p><b>Q、顔以外のサムネも出てません？</b></p>
<p>A、仕様です。Qiitaの記事を参照ください。（作成予定）</p>
<p><b>Q、推薦の精度がよくないように感じます。</b></p>
<p>A、仕様です。Qiitaの記事を参照ください。（作成予定）</p>
<p><b>Q、服とかの余計なモデル多すぎませんか？</b></p>
<p>A、サムネに顔が使われている以上、検出してしまうので仕方ないです。一応タイトルに明らかに服っぽいワードが入っている場合は除外していますが、それでも入ってしまうので、そこはご容赦ください。</p>
<p><b>Q、私が投稿したばかりの最強カワイイモデルが入っていないのですが。</b></p>
<p>A、そういう自動検知機能は実装しておりません。気が向いたらまたデータの更新をかけるので、それまでお待ちください。</p>
<p>
    <a href="./">戻る</a>
</p>
</body> 
</html>